nav {
    border-bottom: .15rem solid rgba(255,255,255,0.2);
}

.tinted {
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.panel {
    box-shadow: 0 0 10px white;
}