@import "tailwindcss";

:root {
  --alt-color: theme(--color-green-500);
  --alt-color-dark: theme(--color-green-700);
  --gold: rgb(253, 172, 22);
  --dark-gold: rgb(110, 76, 12);
  font-family: "Arial";
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.carbon {
  background-color: #020836;
  background-image: url("/image/real-carbon-fibre.png");
  z-index: -5;
}

.vignette {
  box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
}

.slideShowContainer {
  box-shadow: 0 0 15px white;
}

.tintedPanel {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    outline: solid 1px var(--gold);
    box-shadow: 0 0 8px var(--gold);
}

h1 {
  font-weight: bold;
}

.text-secondary {
  color: var(--gold);
}