@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  background-color: theme("colors.slate.950");
  color: white;
}

nav {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border-bottom: .15rem solid rgba(255,255,255,0.2);
}

.tint {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(0.01rem);
 -webkit-backdrop-filter: blur(0.01rem);
}

.carbon {
  background-color: #020836;
  background-image: url("/image/real-carbon-fibre.png");
  z-index: -5;
}

.vignette {
  box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
}
