:root {
    --gauge-width: 150px;
} @media (min-width: 1280px) { /* xl and larger screens */
    :root {
        --gauge-width: 200px;
    }
} @media (min-width: 1536px) { /* 2xl and larger screens */
    :root {
        --gauge-width: 250px;
    }
}

.gauge {
    width: var(--gauge-width);
    aspect-ratio: 1;
    border-radius: calc(var(--gauge-width) / 2);
    outline: solid 2px var(--gold);
    box-shadow: 0 0 30px white;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}